gen/
*.class
.DS_Store
*/.DS_Store

# Package Files #
*.jar
*.war
*.ear
#Eclipse Files#
*.pydevproject
.project
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

#Idea Files#
*.iml
*.ipr
*.iws
.idea/

#npm grunt
node_modules/
*/node_modules/
npm-debug.log
dest/
deploy/
